[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
